[telegram]
# Add the telegram token assigned to your bot here
token <your assigned TOKEN>

[responder]
# Configuration of the part of the bot that responds to the POST
# requests

# at what interface should the bot list, this defaults to 127.0.0.1
# which means only local clients can access it. Use 0.0.0.0 or a
# specific interface address for public access. This also depends on
# how the bot is deployed.
address = 127.0.0.1

# On which port should we listen.
port = 5000

# What host are we on, this is used to construct the endpoint to which
# telegram can send POST requests with the updates.
host = mybot.mydomain.com

[templates]
# path to a file which contains the help text display for the /help
# command
help=templates/help.cmd

# Template to use when quickly fetching cache info (suitable for
# anonymous usage)
cache-quick=templates/cache-quick.tpl

# Template when trying to fetch as much as possible (needs
# authentication)
cache-full=templates/cache-full.tpl

# Template to use when trying to fetch trackable info
trackable=templates/trackable.tpl

[geocaching]
# if you want to use this assistant authenticated, here is a place for
# the username an password for geocaching.com. Note that this may
# violate the user terms, depending on how you use this bot
user=<geocaching.com username>
pass=<geocaching.com password>